 .join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.accent-text {
  color: #BC3A80;
}


 
.form-class input[type = "text"],input[type = "email"] , .form-class input[type = "password"] {
  background: none;
  display: block;
  border: none;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #197278;
  padding: 14px 10px;
  outline: none;
  border-radius: 25px;
  color: wheat;
  transition: 0.25s;
}



.form-class input[type = "text"]:focus, input[type = "email"]:focus, .form-class input[type = "password"]:focus {
  width: 280px;
  border-color: #fdc500;
}

.form-class input[type = "submit"]{
  background: none;
  display: block;
  border: none;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #fdc500;
  padding: 14px 40px;
  outline: none;
  border-radius: 25px;
  color: wheat;
  transition: 0.25s;
  cursor: pointer;
}

 


